
/*UNIVERSAL STYLES*/

*{
    text-align: center;
}

.nav_bar li{
    display: block;
    background-color: lightgreen;
    border-color: white;
    padding:1em;    /*makes whole block, and not just link, clickable, BUT IT'S NOT WORKING*/
    margin: 1em;
     /*why is the left starting position bigger??*/
/* add :hover */
}

.green_background{
    background-color: lightgreen;
}

.page_title{
    background-color:lightgray;
    color: white;
    padding: .1em;
    font-size: .9em;
    /*how do I make padding smaller and raise div higher to cover up green space after header?*/

}

footer{
    font-size: .75em;
    font-weight: 300;
}

/*......nav with tabs......*/
.main_header,
.nav_bar_with_tabs{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    list-style:none;
    background-color: white;
    color:lightgreen;
    padding-left: .4em;
    padding-right: .4em;
    margin-bottom:0;
}

.nav_title{
    font-size: 1.5em;
}

.nav_bar_with_tabs li{
    margin-left: 1em;
}

.supporting_pages a:link{
    color:lightgreen;
}

.supporting_pages a:visited{
    color:lightgray;
}

.supporting_pages a:visited:hover,
.supporting_pages a:visited:active,
.supporting_pages a:visited:focus{
    color:white;
    background-color:lightgreen;
    /*how do i make the background color go from top to bottom of header, and not just directly around text?--> should target li*/
}

.supporting_pages a:link:hover,
.supporting_pages a:link:active,
.supporting_pages a:link:focus{
    color:white;
    background-color:lightgray;
    
}






/*INDEX STYLES*/

.title {
    color: white;
/*    font-size: ;   how do i make it grow?*/
    padding: 3em;
    background-color:lightgreen /*in case image doesn't load*/;
    background-image: url(../img/ihop.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
/*
    border-color: lightgreen;
    border-width: 30px;
    why is this not working?
*/
}
.home_text {
/*    text-align: center;*/
    color:lightgreen;
    padding: 1em;
    margin: 2em .2em;
    font-size: 1em; /*how do i make second line not wrap????*/
    line-height: 1.5;
    /*how do i make font size grow based on viewport??*/
}

.nav_instructions{
    margin-bottom: 2em;
    font-weight: 300;
    font-size: 1em;
    /*make priority order of fonts*/
    
}

/*
.nav_bar a{
    color: white;
    font-weight: bold;
}
*/




/* how do i make cursor show up as a knife?*/
/*    cursor: url("../img/silver_knife.png"), auto;*/




/*BURRITO STYLES*/

/*!ADD FIXED POSITIONING!*/
.burrito{
    padding-right: 5em;
    padding-bottom: 3em;
    float: auto
}

.bubble {
    padding-top: 3em;
    padding-left: 10em;
    float: auto;
    max-width: 18em;
}

/*HOW YOU DIED STYLES*/

button{
    display: float;
    float: auto;
    font-size: 2.7em;
    background-color: white;
    color: lightgreen;
    border-color: lightgray;
    border-width: .1em;
    padding: .7em;
    margin-top: 4em; /*how do you make sure it's exactly in the middle of the background space?*/
    border-radius: 100%;
    box-shadow: 9px 9px lightgray;
}


/*JANET'S VOID STYLES*/

.janet{
    max-height: 30em;
    margin-top: 3em;
}



/*MEDIA QUERIES*/
/*MEDIA QUERIES FOR INDEX*/
/*MEDIA QUERIES FOR BURRITO*/
/*MEDIA QUERIES FOR JANET'S VOID*/
/*MEDIA QUERIES FOR HOW YOU DIED*/
/*MEDIA QUERIES FOR FROGS*/

