

/*UNIVERSAL STYLES*/

*{
    text-align: center;
}

.nav_bar li{
    display: block;
    background-color: lightgreen;
    border-color: white;
    padding:1em;    /*makes whole block, and not just link, clickable, BUT IT'S NOT WORKING*/
    margin: 1em;
     /*why is the left starting position bigger??*/
/* add :hover */
}

.green_background{
    background-color: lightgreen;
}

.page_title{
    background-color:lightgray;
    color: white;
    padding: .1em;
    font-size: .9em;
    /*how do I make padding smaller and raise div higher to cover up green space after header?*/

}

footer{
    font-size: .75em;
    font-weight: 300;
    color: white;
}

.sticky_footer{
    min-height:calc(100vh - 38px);
}

/*......nav with tabs......*/
.main_header,
.nav_bar_with_tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style:none;
    background-color: white;
    color:lightgreen;
    padding-left: .4em;
    padding-right: .4em;
    margin-bottom:0;
}

.nav_title{
    font-size: 1.5em;
}

.nav_bar_with_tabs li{
    margin-left: 1em;
}

.supporting_pages a:link{
    color:lightgreen;
}

.supporting_pages a:visited{
    color:lightgray;
}

.supporting_pages li:hover,
.supporting_pages a:visited:active,
.supporting_pages a:visited:focus{
    color:white;
    background-color:lightgreen;
    /*how do i make the background color go from top to bottom of header, and not just directly around text?--> should target li*/
}

.supporting_pages a:link:hover,
.supporting_pages a:link:active,
.supporting_pages a:link:focus{
    color:white;
    background-color:lightgray;
    
}






/*INDEX STYLES*/

.title {
    color: white;
/*    font-size: ;   how do i make it grow?*/
    padding: 3em;
    background-color:lightgreen /*in case image doesn't load*/;
    background-image: url(../img/ihop.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
/*
    border-color: lightgreen;
    border-width: 30px;
    why is this not working?
*/
}
.home_text {
/*    text-align: center;*/
    color:lightgreen;
    padding: 1em;
    margin: 2em .2em;
    font-size: 1em; /*how do i make second line not wrap????*/
    line-height: 1.5;
    /*how do i make font size grow based on viewport??*/
}

.nav_instructions{
    margin-bottom: 2em;
    font-weight: 300;
    font-size: 1em;
    /*make priority order of fonts*/
    
}

/*
.nav_bar {
    cursor: url("silver_knive.png"), pointer, default;
}
*/

#index_footer{
    color: lightgreen;
    font-weight: 300;
}

/* get rid of extra left margin on nav
.nav_bar ul{
    margin-left: 0px;
}
*/

/*
.nav_bar a{
    color: white;
    font-weight: bold;
}
*/




/* how do i make cursor show up as a knife?*/
/*    cursor: url("../img/silver_knife.png"), auto;*/





/*BURRITO STYLES*/

.burrito_container{
    margin: 3em 1em 4em;
}

.burrito{
    max-width:13em;
}

.bubble {
    max-width: 12em;
    margin-bottom: 4.7em;
}

#burrito_question{
    color:dimgray;
    margin-top:1.8em;
}

#speech{
    margin-top: .75em;
}





/*HOW YOU DIED STYLES*/

.death_btns{
    display: float;
    float: auto;
    background-color: white;
    color: lightgreen;
    border-color: darkgray;
    border-width: .1em;
    padding: .7em;
    border-radius: 100%;
    box-shadow: 0 0 10px #78746d;
}

#death_btn_1{
    font-size: 2.7em;
    margin-top: 4em;
}


#death_btn_2{
    font-size: 1.2em;
    margin-top: 1em;
}

#die_html_output{
    color: darkgray;
    align-content: center;
    max-width: 90%;
    margin: auto;
    margin-top: 12vh;
}

#die_html_output p{
    background-color:white;
    padding: .5em;
    box-shadow: 0 0 10px #78746d;
}

#die_html_output img{
    margin-top: 2em;
    max-width: 90%;
    box-shadow: 0 0 15px #78746d;
}



/*VISIT JANET'S VOID STYLES*/

.janet{
    max-height: 30em;
}

#janet_instructions{
    display: float;
    float: left;
    margin-left: 2em;
    margin-right: 10em;
    color: darkgray;
    background-color: white;
    padding: 5px 30px;
    border-radius: 50%;
}


/*JANET'S VOID STYLES*/
    
#void_content{
    animation: leave_void 5s;
    color: lightgreen;
    margin-top: 10vh;
}

#void_content button{
    background-color: lightgreen;
    color: white;
    box-shadow: 0 0 5px lightgray;
}

@keyframes leave_void{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }



/*MEDIA QUERIES*/
/*MEDIA QUERIES FOR INDEX*/
/*MEDIA QUERIES FOR BURRITO*/
/*MEDIA QUERIES FOR JANET'S VOID*/
/*MEDIA QUERIES FOR HOW YOU DIED*/
/*MEDIA QUERIES FOR FROGS*/

